/* Webpage linking my tutorial subjects to my repos */
h1{
    text-align: center;
}
h4{
    text-align: center;
    font-family: Courier, monospace;
}
p{
    text-align: center;
    font-family: Courier, monospace;
}